@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
}

#ai-response {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../images/sign.png') repeat center center fixed;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-size: 24px;
    max-width: 500px;
    opacity: 1;
    font-family: 'Minecraft', sans-serif;
}